.statusUpdateComponentContainer {
  width: 100%;
  height: 100vh;
  max-width: 450px;
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  /* border: 2px solid red; */
  padding-bottom: 1000px;
}

.statusUpdateComponentContainer::-webkit-scrollbar {
  display: none;
}

.statusUpdateComponentContainer 
.note {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 200px;
}